@charset "utf-8";

.td_Resultado th {
	border: 1px #BCBCBC solid;	
}
.tr_Titulo th {
	background-color: #E5E5E5;	
	padding-top: 10px;
	height: 15px;
	padding-bottom: 5px;
}
.tr_Linha td {
	border: 1px #BCBCBC solid;	
	background-color: #D8FFCE;	
	padding-top: 5px;
	height: 20px;
	padding-bottom: 10px;
	padding-left: 15px;
}
#Status
{
	width: 200px;
}
.ui-datepicker table 
{
	width: 100%;
	font-size: .8em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}