@charset "utf-8";

.td_Resultado th {
	border: 1px #BCBCBC solid;	
}
.tr_Titulo th {
	background-color: #E5E5E5;	
	padding-top: 10px;
	height: 15px;
	padding-bottom: 5px;
}
.tr_Linha td {
	border: 1px #BCBCBC solid;	
	background-color: #D8FFCE;	
	padding-top: 5px;
	height: 20px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.acao
{
	padding-left: 40px;	
}
#Mes 
{
	width: 170px;	
}
#Igreja
{
	width: 250px;	
}
#Modulo
{
	width: 200px;	
}
#sel_Filial
{
	width: 180px;
}
#Situacao
{
	width: 190px;
}
#Inicio
{
	width: 80px;
}
#Fim
{
	width: 80px;	
}
#Faixas
{
	width: 220px;	
}
.ui-datepicker table 
{
	width: 100%;
	font-size: .8em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.TxtImpress
{
	border: 1px transparent;
	font-weight: bold;	
}