@charset "UTF-8";

html {
	height: 100%;
}
body {
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #666666;
	background: #FFFFFF;
	max-width: 2560px;
	height: 100%;
	/*background: url(../images/capa.jpg) top center;*/
}
td {
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666666;
}
.fancyWindow
{
	display: none;	
}
#form
{
	width: 300px;	
}
.buttonsForm
{
	width: 100%;
	height: 50px;
}
#Container {
	width: 1230px;
	height: auto;
    min-height: 100%;
	margin-left: 25px;
	display: table;
}
#content {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
.Play {
	font-family: 'Play', cursive;
	font-size: 14px;
	color: #3d3d3d;
	padding: 0;
	margin: 0;
}
.Sem {
	display: none;
}
.Com {

}
.msg_error p {
	padding: 3px;	
	font-size: 12px;
	color: #F00;
}
div.container ul li {
	list-style-type: none;
	font-size: 12px;
	color: #F00;
	padding: 3px;
}
div.container ol li {
	list-style-type: none;
	font-size: 12px;
	color: #F00;
	padding: 3px;
}
div.container label {
	font-size: 12px;
	color: #F00;
}
div.container { display: none }
.container label.error {
	display: inline;
}
checkbox {
	border: 1px transparent;	
}
select
{
	border: 1px #aaaaaa solid;
	background-color: #FFF;   
	color: #555555;
	padding: 2px;
	resize: none;	
	font-size: 12px;
	color: #818080;
}
.btn-login {
    border: 1px #aaaaaa solid;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
    width: 80px;
    height: 30px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;	
}
textarea
{
	font-size: 14px;	
}

input, textarea, select 
{
	border: 1px #aaaaaa solid;
	background-color: #FFF;   
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #555555;
	padding: 4px;
	resize: none;
}
#FooterWindow{
	background: url(../images/footer-window.gif) no-repeat;
	width: 615px;
	height: 30px;
}
#BotaoSalvar{
	width: 20px;
	height: 20px;
	float: right;
	padding: 4px 7px 3px 8px;
}
#files{
	float: left; 
	z-index: 100; 
	cursor: hand;
	height: 20px;	
	font-size: 23px;
	width: 200px;
	filter: alpha(opacity=0); 
	opacity: 0;	
	clip: rect(auto, auto, auto, 67px);
	position: absolute; 
	left: -65px; 
	top: 0px;
}
#buttons_off {
	background: transparent 4px 0px no-repeat;
	color: #000000;
	width: 130px;
}

a:link {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a:active {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a:visited {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a:hover {text-decoration: underline; color: #666666; font-family: Arial, Helvetica, sans-serif; }

a.bip:link {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.bip:active {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.bip:visited {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.bip:hover {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }

a.report:link {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.report:active {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.report:visited {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.report:hover {text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; }

.button-upload{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	padding:3px 4px;
	border:none;
	font-size:10px;
	font-weight: bold;
	border-width:1px;
	border-style:dashed;
	border-color:#BCBCBC;
	color: #000000;
	cursor:pointer;
	text-decoration:none;
	background: #FFFFFF;
}
p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.float_l {
	float: left;
}
.float_r {
	float: right;
}
.divider {
	background: url(../images/divider.jpg) repeat-x bottom;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

h2 {
	margin: 0 0 5px 0;
	padding: 10px 0;
	font-size: 24px;
	font-weight: normal;
	color: #106fb8;
}
h3 {
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 14px;
	font-weight: bold;
	color: #106fb8;
}
#templatemo_wrapper {
	width: 980px;
	margin: 0 auto;
}

/* header */
#templatemo_header_wrapper {
	width: 100%;
	background: #f6f6f7;
}
#templatemo_header_body {
	width: 100%;
	background: #fff;
}
#templatemo_content_wrapper_more {
	width: 100%;
	height: auto;
	background-color: #fff;
}
#templatemo_header {
	width: 100%;
	height: 125px;
}

h1 {
	color: #000;
	text-align: left;
	font-size: 25px;
	font-family: 'Play', cursive;
	padding-bottom: 3px;
}
h2 {
	color: #000;
	text-align: left;
	font-size: 20px;
	font-family: 'Play', cursive;
	padding-bottom: 3px;
}
h3 {
	color: #000;
	font-size: 15px;
	font-family: 'Play', cursive;
	padding-bottom: 3px;
}

h4 {
	color: #000;
    font-family: 'Play', cursive;
}

p {
	color: #000;
	font-family: 'Play', cursive;
	text-align: left;
	font-size: 14px;
	padding-bottom: 3px;	
}

.td_Title {
	float: left;
	width: 400px;
	height: auto;
	margin: 0 22px;
}
#site_title {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;	
	width: 450px;
	height: 70px;
	text-align: center;	
	overflow: hidden;
	border: 1px #000000 dashed;	
}
#site_title h1 {
	margin: 0px;
	padding: 10px 0 0 0;	
	color: #ce232a;
	text-align: left;
	font-size: 25px;
}
#site_title h3 {
	color: #666666;
	text-align: left;
	font-size: 15px;
	font-family: 'Play', cursive;
	padding: 2px;
}
/* end of header */

/* menu */
#templatemo_menu_wrapper {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background: url(../images/templatemo_menu.jpg) repeat-x;
}
#templatemo_menu {
	width: 100%;
	height: 80px;
	border: 0px #333333 dashed;
}
/* end of menu */

/* content */
#templatemo_content_wrapper {
	width: 100%;
	height: 480px;
	margin: 0 auto;
}
#templatemo_sidebar {
	float: left;
	width: 270px;
}
.sidebar_box {
	padding: 20px 30px;
	background: #fff;
}
.sidebar_box_bottom {
	width: 270px;
	height: 15px;
	margin-bottom: 30px;
	background: url(../images/templatemo_sidebar_section_bottom.jpg)
}
.news_box {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #8a9ba8;	
	color: #ffffff;
}
.news_box .post_info {
	font-size: 11px;
	color: #666666;
}
.news_box .post_info {
	color: #157ad2;
	font-weight: normal;
}
.news_box {
	color: #000000;
	font-weight: normal;
}
.news_box span {
	color: #157ad2;
}
.sidebar_box label {
	display: block;
	margin-bottom: 10px;
}
.sidebar_box #input_field {
	height: 20px;
	width: 200px;
	padding: 0 5px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}
.sidebar_box #submit_btn {
	float: right;
 	height: 30px;
	width: 80px;
	margin: 0px;
	padding: 3px 0 15px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	outline: none;
}
#templatemo_content {
	width: 100%;
	margin: 0 auto;
}
#content_right {
	width: 1140px;
	height: 550px;
	padding: 20px;
	border: 1px #000 solid;
}
#content_left {
	width: 250px;
	padding-top: 10px;
	float: left;
	border: 2px #0099CC dashed;
}
.content_box {
	padding-top: 90px;
	width: 100%;
	margin: 0 auto;
}
.content_pages {
	min-width: 60%;
	max-width: 100%;
	padding: 20px 20px;
}
#Conteudo {
	width: 100%;
	height: 100%;
	display: table;
	background: #fff;
}
.content_box_more {
	width: 1100px;
	height: auto;
	padding: 15px 20px 0 15px;
	float: left;
}
.menu_left {
	width: 200px;
	float: left;
	padding: 0 0 0 0;
}
.content_box_bottom {
	width: 590px;
	height: 36px;
	margin-bottom: 20px;
}
.content_box_bottom_more {
	width: 1145px;
	height: 36px;
	margin-bottom: 20px;
}

.content_box .image_fl {
	float: left;
	margin: 3px 15px 0 0;
}

.content_box .section_w250 {
	width: 250px;
}

.list_01 {
	margin: 0 0 0 20px;
	padding: 0;
	list-style: decimal-leading-zero;
}

.list_01 li {
	color: #008400;
	margin-bottom: 7px;
}

/* end of content */

/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	height: 40px;	
	background: url(../images/templatemo_footer_top.jpg) #fff top repeat-x;
	padding-top: 30px;
}

#templatemo_footer {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #7c7471;
}

#templatemo_footer {
	background-color: #fff;
	color: #333333;
}

#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #333333;
}

.footer_menu .last_menu {
	border: none;
}

a.Botao:link { font-size: 25px; color: #737984; background-color: #FFFFFF; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
a.Botao:active { font-size: 25px; color: #737984; background-color: #FFFFFF; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
a.Botao:hover { font-size: 25px; color: #000000; background-color: #FFFFFF; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
a.Botao:visited { font-size: 25px; color: #737984; background-color: #FFFFFF; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }

#Menu {
	width: 95%;
	padding-top: 35px;	
	padding-left: 20px;
}

#Menu1 {
	width: 507px;
	height: 60px;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	background:#fff;
	border:1px solid #999999;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
	padding-left:20px;
	padding-top:28px;
}
.Campos {
	border: 1px solid #999999;
	color: #999999; 
}
#Menu2 {
	width: 507px;
	height: 60px;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	background:#fff;
	border:1px solid #999999;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
	padding-left:20px;
	padding-top:28px;
}
#Caixa-Login{
	margin-left:8px;
	padding: 16px 16px 50px 16px;
	font-weight:normal;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	background:#fff;
	border:1px solid #999999;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
}
#Caixa-Login .forgetmenot{
	font-weight:normal;
	float:left;
	margin-bottom:0;
}
.button-primary{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	padding:3px 10px;
	border:none;
	font-size:12px;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	cursor:pointer;
	text-decoration:none;
	margin-top:-3px;
}
.button-secundary{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	padding:3px 10px;
	border:none;
	font-size:12px;
	border-width:1px;
	border-style:solid;
	border-color:#BCBCBC;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	cursor:pointer;
	text-decoration:none;
	margin-top:-3px;
	background: #E5E5E5;
}
#Login #Caixa-Login p{
	margin-bottom:0;
}
label{
	color:#777;
	font-size:13px;
}
#Caixa-Login .forgetmenot label{
	font-size:11px;
	line-height:19px;
}
#Caixa-Login .submit,.alignright{
	float:right;
	margin-top: 6px;
}
#Caixa-Login p{
	margin-bottom:24px;
}
/*h1{
	background:url(../images/logo.png) no-repeat top center;
	width:320px;
	height:111px;
	text-indent:-9999px;
	overflow:hidden;
	padding-bottom:15px;
	display:block;
}*/
#nav{
	text-shadow:rgba(255,255,255,1) 0 1px 0;
}
#Login{
	width:420px;
	margin:2em auto;
}
#login_error,.message{
	margin:0 0 16px 8px;
	border-width:1px;
	border-style:solid;
	padding:12px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
#nav{
	margin:0 0 0 8px;
	padding:16px;
}
#user_pass, #user_login, #user_email, #user_velhopass, #user_senha {
	font-size:24px;
	width:97%;
	padding:3px;
	margin-top:2px;
	margin-right:6px;
	margin-bottom:16px;
	border:1px solid #cecece;
	background:#fbfbfb;
}
#information h2 {
	width: 550px;
	height: auto;
	color: #FFFFFF;
	float: left;	
}
#Logoff {
	width: 180px;
	padding-bottom: 10px;
	float: right;
}

/**************************************************************************************************************************/

div.fieldset {
	border:  1px solid #afe14c;
	margin: 0;
	padding: 20px 20px;
}
div.fieldset span.legend {
	position: relative;
	background-color: transparent;
	/*padding: 3px;*/
	top: -30px;
	font: 700 12px Arial, Helvetica, sans-serif;
	color: #000000;
}
div.flash {
	width: 365px;
	/*margin: 10px 5px;*/
	border-color: #cecfce;

	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}
textarea { 
	border-width: 1px; 
	padding: 2px 3px;
}

#btnSubmit { margin: 0 0 0 155px ; }

/* -- Table Styles ------------------------------- */
.progressWrapper {
	width: 357px;
	overflow: hidden;
}
.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}

/* MENU */
#ContainerMenu {
	width: 160px;
	padding: 20px 10px 10px 18px;
	border: 0px #000000 dashed;
}
#SuperMenu{
	width: 160px;
}
ul {
	list-style-type: none;
}
#SuperMenu span{
	display: block;
	padding-top: 5px;
	padding-left: 8px;
	height: 18px;
	text-align: left;
	cursor: pointer;
}
#SuperMenu ul{
	margin: 0px;
	padding: 0px;
}
#SuperMenu ul span{
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #e7e7e7;
	color: #242424;
	padding-bottom: 0px;
}
#Sub {
	border-left: 1px #bdbebd solid;
	border-right: 1px #bdbebd solid;
	border-bottom: 1px #bdbebd solid;
}
#Title {
	border: 1px #bdbebd solid;
}
#SuperMenu ul ul span{
	text-decoration: none;
	font-size: 11px;
	font-family: Arial, Verdana, Geneva, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
}
#SuperMenu ul ul{
	display: none;
}
.MoreSpacer{
	width: auto; 
	height: 10px; 
	clear: both; 
	padding-bottom: 2px;
	border: 0px #000000 solid;
}
.MediumSpacer{
	width: auto; 
	height: 5px; 
	clear: both; 
	padding-bottom: 2px;
	border: 0px #000000 solid;
}
.HighSpacer{
	width: auto; 
	height: 20px; 
	clear: both; 
	padding-bottom: 2px;
	border: 0px #000000 solid;
}
#Aguardando {
	display: block;
	background: url(../images/loading.gif) no-repeat center;
	width: 1060px;
	height: 240px;
}
.Logo_Home {
	background: url(../images/logo.jpg) center no-repeat;
	padding-top: 10px;
	width: 100%;
}
.Sombra {
	font-size: 20px; 
	color: #000000;
    letter-spacing: 1px; 
    text-align: center; 
    text-shadow: 2px 2px 1px #999999; 
    border: none;
}
.Moldura_Internas {
	width: 100%;
	height: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: normal;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	background:#fff;
	border: 1px solid #999999;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
}
.button-terc{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	padding:3px 10px;
	border:none;
	font-size:12px;
	font-weight: bold;
	border-width:1px;
	border-style:dashed;
	border-color:#BCBCBC;
	cursor:pointer;
	text-decoration:none;
	background: #E5E5E5;
	color: #000;
}
#CaixaMensagem{
	background: url(../images/caixa-information.gif) no-repeat;
	width: 613px;
	height: 80px;
	margin: 0;
	padding: 0;
}
#TituloCaixa{
	float: left;
	width: 500px;
	height: 30px;
	padding: 41px 0 0 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #737373;
}
#Title-Window{
	background: url(../images/guia-menu.gif) no-repeat;
	width: 264px;
	height: 25px;
}
#Text-Window{
	color: #666666;
	font-weight: bold;
	padding: 7px 0 0 9px;
	cursor: pointer;
	float: left;
	width: 230px;
	font-family: Arial, sans-serif, Verdana, Helvetica;
	font-size: 10px;
}
#Image-Window{
	border: 0px #000000 solid;
	height: 19px;
	width: 20px;
	padding: 6px 3px 0 0;
	float: right;
	cursor: pointer;
}
#ConteudoModulo {
	margin-left: 20px;
	margin-right: 30px;
	margin-bottom: 30px;
	height: auto;	
}
img.pic_left{
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px #CCCCCC solid;
}
img.pic_none{
	background-color: #FFFFFF;
	padding: 5px;
}
.demo a { 
	float: left; 
	margin: 0; 
	padding: 0; 
	margin: 5px 10px 5px 0!important; 
	margin: 5px 10px 5px 0; 
	display: block; 
	width: 90px; 
	height: 90px; 
}
.demo a img { 
	float: left; 
	padding: 5px; 
	margin: 0; 
	width: 70px; 
	height: 60px; 
	background-color: #FFFFFF; 
	border: 1px #CCCCCC solid; 
}
input.Legenda {
	background-color: #FFFFFF;
	border: 1px #CCCCCC solid;
	width: 55px;	
}
.None {
	display: none;
	padding:0;
	margin:0;
}
.All {
	padding:0;
	margin:0;
}
#AguardeMinimo {
	display: block;
	background: url(../images/ico_aguarde2.gif) no-repeat 5px;
	width: 28px; 
	height: 15px;
}
#AguardeLine {
	display: block;
	background: url(../images/loader_16.gif) no-repeat 498px;
	width: 995px; 
	height: 20px;
}
#AguardeRanking {
	display: block;
	background: url(../images/ico_aguarde2.gif) no-repeat 5px;
	width: 60px; 
	height: 15px;	
}
ul.menu_tabbed {
	list-style: none;
	border-bottom: 1px #999999 solid;
	padding-bottom: 10px;
}	
ul.menu_tabbed li {
	display: inline;
	margin-right: 5px;
}	
ul.menu_tabbed li a {
	color: #999999;
	text-decoration: none;
	background: #FFFFFF;
	border: 1px #CCCCCC solid;
	border-bottom: none;
	padding: 10px 14px;
}	
ul.menu_tabbed li a.selected {
	color: #666666;
	background: #FFFFFF;
	border: 1px #999999 solid;
	border-bottom: 1px #FFFFFF solid;
	padding: 14px 14px 10px 14px;	
}	
ul.menu_tabbed li a:hover {
	padding: 14px 14px 10px 14px;	
}
.subNone {
	display: none;
}
.subSome {
	
}

/**************************************************************************************************************************/
/* CSS DO SWF UPLOAD 
/**************************************************************************************************************************/
div.fieldset {
	border:  1px solid #afe14c;
	margin: 0;
	padding: 20px 20px;
}
div.fieldset span.legend {
	position: relative;
	background-color: transparent;
	top: -30px;
	font: 700 12px Arial, Helvetica, sans-serif;
	color: #000000;
}
div.flash {
	width: 365px;
	border-color: #999999;
	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}
button,
textarea { 
	border-width: 1px; 
	padding: 2px 3px;
}
#btnSubmit { margin: 0 0 0 155px ; }
.progressWrapper {
	width: 357px;
	overflow: hidden;
}
.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
.estilotextarea2 {width:630px;height:30px;border: 1px solid #999999; color: #999999;}
#confirm {
	height: 23px;
	background: url(../images/ajax2.gif) no-repeat 0px 12px;
	width: 70px;	
}
#AguardeOLD {
	display: block;
	background: url(../images/icon_indicator.gif) no-repeat center;
	width: 720px;
	height: 240px;
	text-align: center;
	margin: 0 auto;
}
#Aguarde {
	display: block;
	background: url(../images/icon_indicator.gif) no-repeat 160px 4px;
	padding: 5px 0px;
	text-indent: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 16px;
	width: 600px;
	height: 150px;
	font-size: 12px;
	color: #242424;
	font-family: sans-serif, Verdana, Arial, Helvetica;	
	margin: 0 auto;
	margin-top: 10px;
}
/* BOTÃO DE UPLOAD */
#uploadbuttons {
	width:22px;
	height:22px;
	display:block;
	background-image:url(../images/photobook_22x22.png);
	background-position: top left;
	border: 1px transparent;
}
.tooltip {
	display:none;
	background: transparent url(../images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
div.grippie {
	background: #EEEEEE url(../images/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}
.resizable-textarea textarea {
	padding-top: 5px;
	padding-left: 3px;
	border-top: 1px #BCBCBC solid;
	border-left: 1px #BCBCBC solid;
	border-bottom: 1px #BCBCBC solid;
	border-right: 1px #BCBCBC solid;
	margin-bottom: 0pt;
	width: 560px;
	height: 10%;
	font-size: 11px;
}
.bt_salvar{
    background: transparent url('../images/ico-salvar-big.gif') no-repeat;
    border: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#HomeBemVindo {
	width: 100%;
	height: 330px;
	margin: 0 auto;
	margin-top: 20px;
}
.td_Titulo {
	border: 1px #BCBCBC solid;
	background-color: #e4e4e4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15px;
	padding: 8px;
}
.td_Corpo {
	border: 1px #BCBCBC solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
}
.td_Title {
	float: left;
	width: 400px;
	height: auto;
	margin: 0 22px;
}
.td_Perfil {
	float: right;
	width: 200px;	
	height: auto;
	border: 1px #999 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: rgba(200, 200, 200, 1) 0 1px 5px;
	-webkit-box-shadow: rgba(200, 200, 200, 1) 0 1px 5px;
	-khtml-box-shadow: rgba(200, 200, 200, 1) 0 1px 5px;
	box-shadow: rgba(200, 200, 200, 1) 0 1px 5px;
	padding: 8px;
	margin: 5px 20px;
	margin-top: 30px;
}
.td_Perfil p {
	padding: 3px;	
}
.td_Perfil img {
	margin-right: 15px;
}
.td_Perfil a:link { text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
.td_Perfil a:active { text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
.td_Perfil a:visited { text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
.td_Perfil a:hover { text-decoration: underline; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

#Confirma
{
	padding-top: 50px;	
}

#Confirma h3
{
	font-size: 16px;
	padding: 10px;
}

#Confirma p
{
	font-size: 13px;
}

.display td
{
	cursor: pointer;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

.display td::-moz-selection { background: transparent; color: #666666; text-shadow: none; }
.display td::selection { background: transparent; color: #666666; text-shadow: none; }

::-moz-selection { background: #474747; color: #fff; text-shadow: none; }
::selection { background: #474747; color: #fff; text-shadow: none; }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (min-width: 0px) and (max-width: 769px) {
	
	.td_Title {
		width: 230px;
	}
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	.td_Title {
		width: 230px;
	}
}