@charset "utf-8";
/* CSS Document */

.ajax
{
    display: none;
    position: fixed;
	z-index: 99999;
}
.overlay
{
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
	filter: Alpha(Opacity=50);
    opacity: 0.50;
    -moz-opacity: 0.50;
}
* html .overlay
{
    position: absolute;
	z-index: 99999;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
}
.loader
{
    z-index: 99999;
    position: fixed;
    width: 300px;
    margin-left: -150px;
    top: 40%;
    left: 50%;
	text-align: center;
	border: 1px #FFF solid;
	color: #000;
	background-color: #cecece;
}
.loader img
{
	margin: 18px 8px;
}
.loader p
{
	margin: 20px 8px;
}
* html .loader
{
    position: absolute;
    margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px');
}

.acao
{
	padding-left: 40px;	
}
#sel_Filial
{
	width: 180px;
}
#Inicio
{
	width: 80px;
}
#Fim
{
	width: 80px;	
}
.ui-datepicker table 
{
	width: 100%;
	font-size: .8em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.TxtImpress
{
	border: 1px transparent;
	font-weight: bold;	
}